[user]
	name = JulianeAlbuquerque
	email = juliane.albq@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
	# pull
	pl   = pull

	# Push
   	 ps   = push

	# Status
	s  = status
   	st = status -s

	# Checkout
   	co = checkout
   	cb = checkout -b
	
	# Commit
    	cm  = commit -m
	cma = commit -am 

	# log
	l  = log --pretty=oneline --decorate --abbrev-commit --max-count=15
	ll = log --graph --pretty=format:'%Cred%h%Creset %an: %s %Creset%Cgreen(%cr)%Creset' --abbrev-commit --date=relative

	 # Diff
	 df = diff

[color "diff"]
    	meta = yellow bold
    	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
    	added     = cyan bold
    	branch    = cyan bold
    	changed   = magenta bold
    	deleted   = red bold
    	untracked = yellow bold

[push]
    # 'git push' will push the current branch to its tracking branch
    # the usual default is to push all branches
    default = tracking
